@import "navbar";
@import "main";
@import "body1";
@import "body2";
@import "body3";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
